@font-face {
  font-family: FiraSans;
  src: url(fonts/FiraSans.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: transparent !important;
  font-family: FiraSans;
}

.inventoryNotifications {
  margin-top: 50vh;
  margin-right: 1vw;
  height: 40vh;
  float: right;
  flex-flow: column nowrap;
  display: flex;
}

.inventoryNotificationItem {
  position: relative;
  color: white;
  border: solid;
  border-color: rgba(255, 255, 255, 0.6);
  border-width: 0.05vh;
  height: auto;
  font-size: 1.6vh;
  font-family: FiraSans;
  align-self: flex-start;
  margin-top: 0.2vh;
}

.positiveAmount, .negativeAmount, .text {
  padding: 0.2vh 0.2vw 0.2vh 0.2vw;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
}

.text {
  width: 11vw;
  max-width: 11vw;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

.positiveAmount, .negativeAmount {
  width: 4vw;
  max-width: 4vw;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.6);
}

.positiveAmount {
  color: green;
}
.negativeAmount {
  color: red;
}

.inventoryTooltip {
  font-family: FiraSans;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  border: solid thin;
  border-color: rgba(200, 200, 200, 0.6);
  color: rgb(200, 200, 200);
  min-width: 10vw;
  max-width: 15vw;
  max-height: fit-content;
}

.tooltipHeader {
  font-size: 1.6vh;
  font-weight: bold;
  padding: 0.3vh 0.2vw 0.3vh 0.2vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
  text-align :center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.tooltipRows {
  border-top: solid thin;
  border-color: rgba(200, 200, 200, 0.6);
}

.tooltipRow {
  font-size: 1.5vh;
  padding: 0.3vh 0.2vw 0.3vh 0.2vw;
  white-space: normal;
  vertical-align: top;
  text-align: left;
  width: 100%;
  background-color: rgba(30, 30, 30, 0.8);
}

.tooltipRows span {
  font-weight: bold;
}

